<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="https://media-s3-us-east-1.ceros.com/northern-trust/images/2023/05/31/0abf7135c2830146e9d9c6be935278d8/processed-svg-anchor-icon.svg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lora&family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>Forex Dashboard</title>
</head>

<header>
    <h1>Northern Trust Foreign Exchange Calculator</h1>
</header>

<body>

    
    <img src="/hackathonfrontend/no5088n2a5-northern-trust-logo-northern-trust-green-pasadena-symphony-amp-pops-removebg-preview.png">
    
</body>
</html>