<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8a2e7e0724.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/nt.css"/>
    <link rel="stylesheet" href="static/css/button.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lora&family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="mainContainer">
        <div class="innerContainer">
            <form id="myForm" action="/get_plot" method="POST">
            <div class="innermostContainer1">
                <div class="">
                    <img src="/static/nt_logo.png" class="nt-logo" />
                </div>
                <div>
                    <div class="bothCurrencies">
                        
                        <div class="currencyContainer">
                            Currency1: <input list="options1" type="text" name="currency1" >
                            <datalist id="options1">
                                <option value="usd" selected>U.S. dollar (USD)</option>
                            </datalist>
                        </div>
                        <div class="currencyContainer">
                            Currency2: <input list="options2" type="text" name="currency2" >
                            <datalist id = "options2">
                                <option value="usd" selected>U.S. dollar (USD)</option>
                                <option value="dzd">Algerian dinar (DZD)</option>
                                <option value="aud">Australian dollar (AUD)</option>
                                <option value="bhd">Bahrain dinar (BHD)</option>
                                <option value="vef">Bolivar Fuerte (VEF)</option>
                                <option value="bwp">Botswana pula (BWP)</option>
                                <option value="brl">Brazilian real (BRL)</option>
                                <option value="bnd">Brunei dollar (BND)</option>
                                <option value="cad">Canadian dollar (CAD)</option>
                                <option value="clp">Chilean peso (CLP)</option>
                                <option value="cny">Chinese yuan (CNY)</option>
                                <option value="cop">Colombian peso (COP)</option>
                                <option value="czk">Czech koruna (CZK)</option>
                                <option value="dkk">Danish krone (DKK)</option>
                                <option value="eur">Euro (EUR)</option>
                                <option value="huf">Hungarian forint (HUF)</option>
                                <option value="isk">Icelandic krona (ISK)</option>
                                <option value="inr">Indian rupee (INR)</option>
                                <option value="idr">Indonesian rupiah (IDR)</option>
                                <option value="irr">Iranian rial (IRR)</option>
                                <option value="ils">Israeli New Shekel (ILS)</option>
                                <option value="jpy">Japanese yen (JPY)</option>
                                <option value="kzt">Kazakhstani tenge (KZT)</option>
                                <option value="krw">Korean won (KRW)</option>
                                <option value="kwd">Kuwaiti dinar (KWD)</option>
                                <option value="lyd">Libyan dinar (LYD)</option>
                                <option value="myr">Malaysian ringgit (MYR)</option>
                                <option value="mur">Mauritian rupee (MUR)</option>
                                <option value="mxn">Mexican peso (MXN)</option>
                                <option value="npr">Nepalese rupee (NPR)</option>
                                <option value="nzd">New Zealand dollar (NZD)</option>
                                <option value="nok">Norwegian krone (NOK)</option>
                                <option value="omr">Omani rial (OMR)</option>
                                <option value="pkr">Pakistani rupee (PKR)</option>
                                <option value="pen">Peruvian sol (PEN)</option>
                                <option value="php">Philippine peso (PHP)</option>
                                <option value="pln">Polish zloty (PLN)</option>
                                <option value="qar">Qatari riyal (QAR)</option>
                                <option value="rub">Russian ruble (RUB)</option>
                                <option value="sar">Saudi Arabian riyal (SAR)</option>
                                <option value="sgd">Singapore dollar (SGD)</option>
                                <option value="zar">South African rand (ZAR)</option>
                                <option value="lkr">Sri Lankan rupee (LKR)</option>
                                <option value="sek">Swedish krona (SEK)</option>
                                <option value="chf">Swiss franc (CHF)</option>
                                <option value="thb">Thai baht (THB)</option>
                                <option value="ttd">Trinidadian dollar (TTD)</option>
                                <option value="tnd">Tunisian dinar (TND)</option>
                                <option value="aed">U.A.E. dirham (AED)</option>
                                <option value="gbp">U.K. pound (GBP)</option>
                                <option value="uyu">Uruguayan peso (UYU)</option>
                            </datalist>
                        </div>
                        Duration: <input list="optionsD" type="text" name="duration" >
                        
                    </div>
                    <br>
                   <div>
                    <div class="calenderContainer">
                        <label for="startDate">Start Year:-</labelfo>
                        <input type="text" name="startDate" id="startDate" class="calendar" title="Enter start date in format YYYY-MM-DD e.g. 2023-01-23" tabindex="0" required="" oninput="setCustomValidity('')">
                    </div>
                    <div class="calenderContainer">
                        <label for="endDate">End Year:-</labelfo>
                        <input type="text" name="endDate" id="endDate" class="calendar" title="Enter start date in format YYYY-MM-DD e.g. 2023-01-23" tabindex="0" required="" oninput="setCustomValidity('')">
                    </div>
                   </div>
                </div>
            </div>
            <div class="innerContainer2">
                <input type="submit" value="CREATE GRAPH" />
            </div>
            </form>

            <form id="myForm2" action="/get_amount" method="POST">
                Currency1: <input list="options1" type="text" name="currency1" >
                    <datalist id="options1">
                        <option value="usd" selected>U.S. dollar (USD)</option>
                    </datalist>
                Currency2: <input list="options1" type="text" name="currency2" >
                    <datalist id="options1">
                        <option value="usd" selected>U.S. dollar (USD)</option>
                    </datalist>
                Amount:<input type="text" name="amount">
                    

                <input type="submit" value="Get Amount" />

                
            </form>
            
            
        </div>
    </div>


    {% if amount %}

    <p>Hence the total amount you will receive is {{ amount }}</p>

    {% endif %}

    

    {% if plot_url %}
        <p>{{ highest_rate }} {{ lowest_rate }} {{ average_rate }}</p>

        <br>
        <img src="{{ plot_url }}?{{ random_query_parameter }}" alt="image">
    {% endif %}

</body>
</html>
