<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8a2e7e0724.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/nt.css"/>
    <link rel="stylesheet" href="static/css/button.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lora&family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="https://media-s3-us-east-1.ceros.com/northern-trust/images/2023/05/31/0abf7135c2830146e9d9c6be935278d8/processed-svg-anchor-icon.svg" type="image/x-icon">
</head>
<body>
    <d class="mainContainer">
        <form id="myForm" action="/get_plot" method="POST" class="innerContainer">
                <div class="imageContainer">
                    <img src="/static/nt_logo.png" class="nt-logo" />
                </div>
                <div class="allfunctionalValues">
                    <div class="maincurrencyContainer">
                        <div class="currencyContainer">
                            Currency1: <input list="options1" type="text" placeholder="Currency1" name="currency1" >
                            <datalist id = "options1">
                                <option value="U.S. dollar (USD)" selected>U.S. dollar (USD)</option>
                                <option value="Algerian dinar (DZD)">Algerian dinar (DZD)</option>
                                <option value="Australian dollar (AUD)">Australian dollar (AUD)</option>
                                <option value="Bahrain dinar (BHD)">Bahrain dinar (BHD)</option>
                                <option value="Bolivar Fuerte (VEF)">Bolivar Fuerte (VEF)</option>
                                <option value="Botswana pula (BWP)">Botswana pula (BWP)</option>
                                <option value="Brazilian real (BRL)">Brazilian real (BRL)</option>
                                <option value="Brunei dollar (BND)">Brunei dollar (BND)</option>
                                <option value="Canadian dollar (CAD)">Canadian dollar (CAD)</option>
                                <option value="Chilean peso (CLP)">Chilean peso (CLP)</option>
                                <option value="Chinese yuan (CNY)">Chinese yuan (CNY)</option>
                                <option value="Colombian peso (COP)">Colombian peso (COP)</option>
                                <option value="Czech koruna (CZK)">Czech koruna (CZK)</option>
                                <option value="Danish krone (DKK)">Danish krone (DKK)</option>
                                <option value="Euro (EUR)">Euro (EUR)</option>
                                <option value="Hungarian forint (HUF)">Hungarian forint (HUF)</option>
                                <option value="Icelandic krona (ISK)">Icelandic krona (ISK)</option>
                                <option value="Indian rupee (INR)">Indian rupee (INR)</option>
                                <option value="Indonesian rupiah (IDR)">Indonesian rupiah (IDR)</option>
                                <option value="Iranian rial (IRR)">Iranian rial (IRR)</option>
                                <option value="Israeli New Shekel (ILS)">Israeli New Shekel (ILS)</option>
                                <option value="Japanese yen (JPY)">Japanese yen (JPY)</option>
                                <option value="Kazakhstani tenge (KZT)">Kazakhstani tenge (KZT)</option>
                                <option value="Korean won (KRW)">Korean won (KRW)</option>
                                <option value="Kuwaiti dinar (KWD)">Kuwaiti dinar (KWD)</option>
                                <option value="Libyan dinar (LYD)">Libyan dinar (LYD)</option>
                                <option value="Malaysian ringgit (MYR)">Malaysian ringgit (MYR)</option>
                                <option value="Mauritian rupee (MUR)">Mauritian rupee (MUR)</option>
                                <option value="Mexican peso (MXN)">Mexican peso (MXN)</option>
                                <option value="Nepalese rupee (NPR)">Nepalese rupee (NPR)</option>
                                <option value="New Zealand dollar (NZD)">New Zealand dollar (NZD)</option>
                                <option value="Norwegian krone (NOK)">Norwegian krone (NOK)</option>
                                <option value="Omani rial (OMR)">Omani rial (OMR)</option>
                                <option value="Pakistani rupee (PKR)">Pakistani rupee (PKR)</option>
                                <option value="Peruvian sol (PEN)">Peruvian sol (PEN)</option>
                                <option value="Philippine peso (PHP)">Philippine peso (PHP)</option>
                                <option value="Polish zloty (PLN)">Polish zloty (PLN)</option>
                                <option value="Qatari riyal (QAR)">Qatari riyal (QAR)</option>
                                <option value="Russian ruble (RUB)">Russian ruble (RUB)</option>
                                <option value="Saudi Arabian riyal (SAR)">Saudi Arabian riyal (SAR)</option>
                                <option value="Singapore dollar (SGD)">Singapore dollar (SGD)</option>
                                <option value="South African rand (ZAR)">South African rand (ZAR)</option>
                                <option value="Sri Lankan rupee (LKR)">Sri Lankan rupee (LKR)</option>
                                <option value="Swedish krona (SEK)">Swedish krona (SEK)</option>
                                <option value="Swiss franc (CHF)">Swiss franc (CHF)</option>
                                <option value="Thai baht (THB)">Thai baht (THB)</option>
                                <option value="Trinidadian dollar (TTD)">Trinidadian dollar (TTD)</option>
                                <option value="Tunisian dinar (TND)">Tunisian dinar (TND)</option>
                                <option value="U.A.E. dirham (AED)">U.A.E. dirham (AED)</option>
                                <option value="U.K. pound (GBP)">U.K. pound (GBP)</option>
                                <option value="Uruguayan peso (UYU)">Uruguayan peso (UYU)</option>        
                            </datalist>
                        </div>
                        <div class="currencyContainer">
                                Currency2: <input list="options2" type="text" placeholder="Currency2" name="currency2" >
                                <datalist id = "options2">
                                    <option value="U.S. dollar (USD)" selected>U.S. dollar (USD)</option>
                                    <option value="Algerian dinar (DZD)">Algerian dinar (DZD)</option>
                                    <option value="Australian dollar (AUD)">Australian dollar (AUD)</option>
                                    <option value="Bahrain dinar (BHD)">Bahrain dinar (BHD)</option>
                                    <option value="Bolivar Fuerte (VEF)">Bolivar Fuerte (VEF)</option>
                                    <option value="Botswana pula (BWP)">Botswana pula (BWP)</option>
                                    <option value="Brazilian real (BRL)">Brazilian real (BRL)</option>
                                    <option value="Brunei dollar (BND)">Brunei dollar (BND)</option>
                                    <option value="Canadian dollar (CAD)">Canadian dollar (CAD)</option>
                                    <option value="Chilean peso (CLP)">Chilean peso (CLP)</option>
                                    <option value="Chinese yuan (CNY)">Chinese yuan (CNY)</option>
                                    <option value="Colombian peso (COP)">Colombian peso (COP)</option>
                                    <option value="Czech koruna (CZK)">Czech koruna (CZK)</option>
                                    <option value="Danish krone (DKK)">Danish krone (DKK)</option>
                                    <option value="Euro (EUR)">Euro (EUR)</option>
                                    <option value="Hungarian forint (HUF)">Hungarian forint (HUF)</option>
                                    <option value="Icelandic krona (ISK)">Icelandic krona (ISK)</option>
                                    <option value="Indian rupee (INR)">Indian rupee (INR)</option>
                                    <option value="Indonesian rupiah (IDR)">Indonesian rupiah (IDR)</option>
                                    <option value="Iranian rial (IRR)">Iranian rial (IRR)</option>
                                    <option value="Israeli New Shekel (ILS)">Israeli New Shekel (ILS)</option>
                                    <option value="Japanese yen (JPY)">Japanese yen (JPY)</option>
                                    <option value="Kazakhstani tenge (KZT)">Kazakhstani tenge (KZT)</option>
                                    <option value="Korean won (KRW)">Korean won (KRW)</option>
                                    <option value="Kuwaiti dinar (KWD)">Kuwaiti dinar (KWD)</option>
                                    <option value="Libyan dinar (LYD)">Libyan dinar (LYD)</option>
                                    <option value="Malaysian ringgit (MYR)">Malaysian ringgit (MYR)</option>
                                    <option value="Mauritian rupee (MUR)">Mauritian rupee (MUR)</option>
                                    <option value="Mexican peso (MXN)">Mexican peso (MXN)</option>
                                    <option value="Nepalese rupee (NPR)">Nepalese rupee (NPR)</option>
                                    <option value="New Zealand dollar (NZD)">New Zealand dollar (NZD)</option>
                                    <option value="Norwegian krone (NOK)">Norwegian krone (NOK)</option>
                                    <option value="Omani rial (OMR)">Omani rial (OMR)</option>
                                    <option value="Pakistani rupee (PKR)">Pakistani rupee (PKR)</option>
                                    <option value="Peruvian sol (PEN)">Peruvian sol (PEN)</option>
                                    <option value="Philippine peso (PHP)">Philippine peso (PHP)</option>
                                    <option value="Polish zloty (PLN)">Polish zloty (PLN)</option>
                                    <option value="Qatari riyal (QAR)">Qatari riyal (QAR)</option>
                                    <option value="Russian ruble (RUB)">Russian ruble (RUB)</option>
                                    <option value="Saudi Arabian riyal (SAR)">Saudi Arabian riyal (SAR)</option>
                                    <option value="Singapore dollar (SGD)">Singapore dollar (SGD)</option>
                                    <option value="South African rand (ZAR)">South African rand (ZAR)</option>
                                    <option value="Sri Lankan rupee (LKR)">Sri Lankan rupee (LKR)</option>
                                    <option value="Swedish krona (SEK)">Swedish krona (SEK)</option>
                                    <option value="Swiss franc (CHF)">Swiss franc (CHF)</option>
                                    <option value="Thai baht (THB)">Thai baht (THB)</option>
                                    <option value="Trinidadian dollar (TTD)">Trinidadian dollar (TTD)</option>
                                    <option value="Tunisian dinar (TND)">Tunisian dinar (TND)</option>
                                    <option value="U.A.E. dirham (AED)">U.A.E. dirham (AED)</option>
                                    <option value="U.K. pound (GBP)">U.K. pound (GBP)</option>
                                    <option value="Uruguayan peso (UYU)">Uruguayan peso (UYU)</option>        
                                </datalist>
                        </div>
                    </div>
                    <div class="durationContainer">
                        Duration: <input list="options3" type="text" placeholder="Yearly or Weekly" name="duration" >
                        <datalist id="options3">
                            <option value="Yearly" selected>Yearly</option>
                            <option value="Weekly">Weekly</option>
                        </datalist>
                    </div>
                    <div>
                        <div class="calenderContainer">
                            <label for="startDate">Start Year:-</labelfo>
                            <input type="text" name="startDate" id="startDate" class="calendar" placeholder="Enter Starting year" tabindex="0" required="" oninput="setCustomValidity('')">
                        </div>
                        <div class="calenderContainer">
                                <label for="endDate">End Year:-</labelfo>
                                <input type="text" name="endDate" id="endDate" class="calendar" placeholder="Enter Ending year"  tabindex="0" required="" oninput="setCustomValidity('')">
                        </div>
                    </div>
                    
                </div>
                <div class="forButtons">
                    <input type="submit" class="button-17" value="CREATE GRAPH"/>
                    
                </div>
        <p>{{ highest_rate }} , {{ lowest_rate }} , {{ average_rate }}</p>
        </form>

        <br><br><br><br><br>
        <div class = "innerContainer">

        <form id="myForm2" action="/get_amount" method="POST">
            Currency1: <input list="options1" type="text" placeholder="From" ="currency1" >
                <datalist id="options1">
                    <option value="U.S. dollar (USD)" selected>U.S. dollar (USD)</option>
                    <option value="Algerian dinar (DZD)">Algerian dinar (DZD)</option>
                    <option value="Australian dollar (AUD)">Australian dollar (AUD)</option>
                    <option value="Bahrain dinar (BHD)">Bahrain dinar (BHD)</option>
                    <option value="Bolivar Fuerte (VEF)">Bolivar Fuerte (VEF)</option>
                    <option value="Botswana pula (BWP)">Botswana pula (BWP)</option>
                    <option value="Brazilian real (BRL)">Brazilian real (BRL)</option>
                    <option value="Brunei dollar (BND)">Brunei dollar (BND)</option>
                    <option value="Canadian dollar (CAD)">Canadian dollar (CAD)</option>
                    <option value="Chilean peso (CLP)">Chilean peso (CLP)</option>
                    <option value="Chinese yuan (CNY)">Chinese yuan (CNY)</option>
                    <option value="Colombian peso (COP)">Colombian peso (COP)</option>
                    <option value="Czech koruna (CZK)">Czech koruna (CZK)</option>
                    <option value="Danish krone (DKK)">Danish krone (DKK)</option>
                    <option value="Euro (EUR)">Euro (EUR)</option>
                    <option value="Hungarian forint (HUF)">Hungarian forint (HUF)</option>
                    <option value="Icelandic krona (ISK)">Icelandic krona (ISK)</option>
                    <option value="Indian rupee (INR)">Indian rupee (INR)</option>
                    <option value="Indonesian rupiah (IDR)">Indonesian rupiah (IDR)</option>
                    <option value="Iranian rial (IRR)">Iranian rial (IRR)</option>
                    <option value="Israeli New Shekel (ILS)">Israeli New Shekel (ILS)</option>
                    <option value="Japanese yen (JPY)">Japanese yen (JPY)</option>
                    <option value="Kazakhstani tenge (KZT)">Kazakhstani tenge (KZT)</option>
                    <option value="Korean won (KRW)">Korean won (KRW)</option>
                    <option value="Kuwaiti dinar (KWD)">Kuwaiti dinar (KWD)</option>
                    <option value="Libyan dinar (LYD)">Libyan dinar (LYD)</option>
                    <option value="Malaysian ringgit (MYR)">Malaysian ringgit (MYR)</option>
                    <option value="Mauritian rupee (MUR)">Mauritian rupee (MUR)</option>
                    <option value="Mexican peso (MXN)">Mexican peso (MXN)</option>
                    <option value="Nepalese rupee (NPR)">Nepalese rupee (NPR)</option>
                    <option value="New Zealand dollar (NZD)">New Zealand dollar (NZD)</option>
                    <option value="Norwegian krone (NOK)">Norwegian krone (NOK)</option>
                    <option value="Omani rial (OMR)">Omani rial (OMR)</option>
                    <option value="Pakistani rupee (PKR)">Pakistani rupee (PKR)</option>
                    <option value="Peruvian sol (PEN)">Peruvian sol (PEN)</option>
                    <option value="Philippine peso (PHP)">Philippine peso (PHP)</option>
                    <option value="Polish zloty (PLN)">Polish zloty (PLN)</option>
                    <option value="Qatari riyal (QAR)">Qatari riyal (QAR)</option>
                    <option value="Russian ruble (RUB)">Russian ruble (RUB)</option>
                    <option value="Saudi Arabian riyal (SAR)">Saudi Arabian riyal (SAR)</option>
                    <option value="Singapore dollar (SGD)">Singapore dollar (SGD)</option>
                    <option value="South African rand (ZAR)">South African rand (ZAR)</option>
                    <option value="Sri Lankan rupee (LKR)">Sri Lankan rupee (LKR)</option>
                    <option value="Swedish krona (SEK)">Swedish krona (SEK)</option>
                    <option value="Swiss franc (CHF)">Swiss franc (CHF)</option>
                    <option value="Thai baht (THB)">Thai baht (THB)</option>
                    <option value="Trinidadian dollar (TTD)">Trinidadian dollar (TTD)</option>
                    <option value="Tunisian dinar (TND)">Tunisian dinar (TND)</option>
                    <option value="U.A.E. dirham (AED)">U.A.E. dirham (AED)</option>
                    <option value="U.K. pound (GBP)">U.K. pound (GBP)</option>
                    <option value="Uruguayan peso (UYU)">Uruguayan peso (UYU)</option>        
                </datalist>
                
            Currency2: <input list="options1" type="text" placeholder="To" ="currency2" >
                <datalist id="options1">
                    <option value="U.S. dollar (USD)" selected>U.S. dollar (USD)</option>
                    <option value="Algerian dinar (DZD)">Algerian dinar (DZD)</option>
                    <option value="Australian dollar (AUD)">Australian dollar (AUD)</option>
                    <option value="Bahrain dinar (BHD)">Bahrain dinar (BHD)</option>
                    <option value="Bolivar Fuerte (VEF)">Bolivar Fuerte (VEF)</option>
                    <option value="Botswana pula (BWP)">Botswana pula (BWP)</option>
                    <option value="Brazilian real (BRL)">Brazilian real (BRL)</option>
                    <option value="Brunei dollar (BND)">Brunei dollar (BND)</option>
                    <option value="Canadian dollar (CAD)">Canadian dollar (CAD)</option>
                    <option value="Chilean peso (CLP)">Chilean peso (CLP)</option>
                    <option value="Chinese yuan (CNY)">Chinese yuan (CNY)</option>
                    <option value="Colombian peso (COP)">Colombian peso (COP)</option>
                    <option value="Czech koruna (CZK)">Czech koruna (CZK)</option>
                    <option value="Danish krone (DKK)">Danish krone (DKK)</option>
                    <option value="Euro (EUR)">Euro (EUR)</option>
                    <option value="Hungarian forint (HUF)">Hungarian forint (HUF)</option>
                    <option value="Icelandic krona (ISK)">Icelandic krona (ISK)</option>
                    <option value="Indian rupee (INR)">Indian rupee (INR)</option>
                    <option value="Indonesian rupiah (IDR)">Indonesian rupiah (IDR)</option>
                    <option value="Iranian rial (IRR)">Iranian rial (IRR)</option>
                    <option value="Israeli New Shekel (ILS)">Israeli New Shekel (ILS)</option>
                    <option value="Japanese yen (JPY)">Japanese yen (JPY)</option>
                    <option value="Kazakhstani tenge (KZT)">Kazakhstani tenge (KZT)</option>
                    <option value="Korean won (KRW)">Korean won (KRW)</option>
                    <option value="Kuwaiti dinar (KWD)">Kuwaiti dinar (KWD)</option>
                    <option value="Libyan dinar (LYD)">Libyan dinar (LYD)</option>
                    <option value="Malaysian ringgit (MYR)">Malaysian ringgit (MYR)</option>
                    <option value="Mauritian rupee (MUR)">Mauritian rupee (MUR)</option>
                    <option value="Mexican peso (MXN)">Mexican peso (MXN)</option>
                    <option value="Nepalese rupee (NPR)">Nepalese rupee (NPR)</option>
                    <option value="New Zealand dollar (NZD)">New Zealand dollar (NZD)</option>
                    <option value="Norwegian krone (NOK)">Norwegian krone (NOK)</option>
                    <option value="Omani rial (OMR)">Omani rial (OMR)</option>
                    <option value="Pakistani rupee (PKR)">Pakistani rupee (PKR)</option>
                    <option value="Peruvian sol (PEN)">Peruvian sol (PEN)</option>
                    <option value="Philippine peso (PHP)">Philippine peso (PHP)</option>
                    <option value="Polish zloty (PLN)">Polish zloty (PLN)</option>
                    <option value="Qatari riyal (QAR)">Qatari riyal (QAR)</option>
                    <option value="Russian ruble (RUB)">Russian ruble (RUB)</option>
                    <option value="Saudi Arabian riyal (SAR)">Saudi Arabian riyal (SAR)</option>
                    <option value="Singapore dollar (SGD)">Singapore dollar (SGD)</option>
                    <option value="South African rand (ZAR)">South African rand (ZAR)</option>
                    <option value="Sri Lankan rupee (LKR)">Sri Lankan rupee (LKR)</option>
                    <option value="Swedish krona (SEK)">Swedish krona (SEK)</option>
                    <option value="Swiss franc (CHF)">Swiss franc (CHF)</option>
                    <option value="Thai baht (THB)">Thai baht (THB)</option>
                    <option value="Trinidadian dollar (TTD)">Trinidadian dollar (TTD)</option>
                    <option value="Tunisian dinar (TND)">Tunisian dinar (TND)</option>
                    <option value="U.A.E. dirham (AED)">U.A.E. dirham (AED)</option>
                    <option value="U.K. pound (GBP)">U.K. pound (GBP)</option>
                    <option value="Uruguayan peso (UYU)">Uruguayan peso (UYU)</option>        
                </datalist>
            Amount: <input type="text" name="amount" >
                

            <input type="submit" value="Get Amount" class="button-17" />

            <p>Hence the total amount you will receive is "{{ amount }}"</p>

        </form>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class = "innerContainer">

        {% if plot_url %}
            
    
            
            <img src="{{ plot_url }}?{{ random_query_parameter }}" alt="image">
            <p class ="mypara">Here the 
                highest rate is-- {{ highest_rate }} 
                lowest rate is-- {{ lowest_rate }} 
                exchange rate is-- {{ average_rate }}</p>
        {% endif %}

    </div>
        
    </div>
         
    

 

</body>
</html>
